<div class="navbar navbar-default">
    <div class="containter-fluid">
        <a href="#" class="navbar-brand">Memorization</a>
    </div>
    <div class="nav navbar-nav">
        <ul class="nav navbar-nav  list-group-horizontal">
            <li><a href="#" class="button" routerLinkActive="activebutton" routerLink="/note">Notes</a></li>
            <li><a href="#" class="button" routerLinkActive="activebutton" routerLink="/quiz">Create</a></li>
            <li><a href="#" class="button" routerLinkActive="activebutton" routerLink="/test">test</a></li>
        </ul>
    </div>
</div>
