<p>quiz-detail works!</p>
<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
      <div class="row pad-all">
        <h4 class="title margin-left-right">{{ quiz.title }}</h4>
        <div class="row pull-right margin-left-right">
          <a class="btn btn-info" [routerLink]="['/quiz/'+quiz.id+'/edit']">Edit</a>
          <a class="btn btn-danger" (click)="[onDelete()]">Delete</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="pad-left-right">
        <div class="row">
          <label>Description:</label>
          <span class="label-value detail-description">{{
            quiz.question
          }}</span>
        </div>
        <div class="row">
            <span class="label-value detail-description">{{ quiz.answer }}</span>
          </div>
      </div>
    </div>
  </div>
